body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.calculator {
  width: 33%;
  height: auto;
  background-color: gray;
  padding: 0.5em;
}

.showValue {
  height: 1.5em;
  background-color: #DCDCDC;
  padding: 0.5em;
  margin: 1.5% 0;
  text-align: right;
}

.numberInput {
  width: 72%;
  height: 1.5em;
  margin: 1.5%;
  text-align: right;
}

.selectNumber {
  width: 20%;
  height: 2em;
  margin: 1.5%;
}

.operation {
  width: 23%;
  height: 2em;
  margin: 1%;
}
